@charset 'utf-8';
#wrap{
	width: 100%;
	height: atuo;
}
.header{
	width: 100%;
	height: 100px;
	background: #555;
	position: fixed;
	left:0;
	top:0;
	z-index: 5;
}
.header .gnb{
	width: 98%;
	max-width: 1000px;
	height: 50px;
	margin: 0 auto;
	background: rgba(0,0,0,0);
	margin-top: 50px;
	position: relative;
}
.header .gnb>ul>li{
	width: 20%;
	height: 50px;
	float:left;
	border: 0px solid;
	box-sizing: border-box;
	text-align: center;
	position: relative;
}
.header .gnb>ul>li >a{
	display: block;
	line-height:  50px;
	color: #fff;
}
.header .gnb>ul>li >a:hover{
	background: #000;
	color: #fff;
}
.header .gnb>ul>li ul.sub{
	color: #555;
	line-height: 30px;
   display: none;
	overflow: hidden;
	width: 300%;
}
.header .gnb>ul>li ul.sub >li{
	width: 33.3333%;
	float:left;
}
.header .gnb>ul>li:hover{
	background: #000;
	color: #555;
}
.header .gnb>ul>li:hover ul.sub{
	display: block;
} 

.header .gnb>ul>li.member ul.sub{
	position: absolute;
	left:-200%;
}
.header .gnb>ul>li.member ul.sub li{
	width:25%;
}
.header .gnb>ul>li.member ul.sub li.right{
	width:33.33%;
}
.header .box{
	width: 100%;
	height: 30px;
	background: #f1e9c0;
	display: none;
}
.header .gnb>ul>li span{
	width:0;
	height:0;
	display: block;
	margin: 0 auto;
	position: absolute;
		left:90px;
		bottom:0px;
	border-top:0px solid rgba(0,0,0,0);
	border-left:10px solid rgba(255,35,0,0);
	border-right:10px solid rgba(255,35,0,0);;
	border-bottom:10px solid #f1e9c0;
}
.header .logout{
	background: #ff0;
}
.header .update{
	background: #ee0;
}
.header span.sessionId{
	display: block;
	width: 100px;
	line-height:  28px;
	background:rgba(255,0,0,0.5);
	position: absolute;
	border-radius: 5px;
	color: #fff;
	top:12px;
	right:-100px;
	text-align: center;
}




