@charset "utf-8";
.join{
	width: 98%;
	max-width: 400px;
	border: 1px solid;
	margin:0 auto ;
	position: relative;
	top:180px;
	padding: 10px;
	}
.join h1.title{
	line-height: 100px;
	text-align: center;
	font-family: '돋음'
}
.join .contents{
	
}
.join .contents ul>li{
	border: 0px solid #ccc;
	line-height: 60px;
	margin: 10px 0;
	overflow: hidden;

}
.join .contents ul>li input{
	border: 1px solid #ccc;
	font-size: 15px;
	box-sizing: border-box;
	
}
.join .contents ul>li input[type=text], input[type=password]{
	height: 60px;
	width: 100%;
	text-indent: 10px;
}
	
.join .contents ul>li input.year{
	width: 60%;
	float: left;
	margin-right: 20px;
}
.join .contents ul>li input.phone{
	width: 65%;
	float:right;
}
.join .contents ul>li input[type=submit]{
	width: 100%;
	height: 60px;
	border: 0;
	color:#fff;
	font-size: 20px;
	background: #6c96ad;
} 
.join .contents ul>li input[type=submit]:hover{
	background: #000;
	color: #fff;
	cursor: pointer;
}
.join .contents ul>li select{
	height: 60px;
	width: 30%;
	float: left;
	text-indent: 5px;
	font-size: 16px;
	text-align: center;
		
}




